# API URL used by axios in src/services/api.ts
# For a physical device, use your machine LAN IP.
# Example: EXPO_PUBLIC_API_URL=http://192.168.100.22:8081
EXPO_PUBLIC_API_URL=http://192.168.15.4:8081
EXPO_NO_DEPENDENCY_VALIDATION=1
